:root {
   font-family: "Bricolage Grotesque", sans-serif;
   --color-principal: #48ba05;
   --color-secundario: #fdfe01;
}
* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

/* Animacion de Scroll*/
@keyframes show {
   from {
      opacity: 0;
      scale: 25%;
   }
   to {
      opacity: 1;
      scale: 100%;
   }
}

@keyframes show2 {
   from {
      opacity: 0;
      scale: 50%;
   }
   to {
      opacity: 1;
      scale: 100%;
   }
}

/* Estilos header*/
.header {
   min-width: 100%;
   max-height: 150px;
   height: auto;
   position: sticky;
   top: 0;
   background-color: var(--color-principal);
   z-index: 10;
}

.scroll__line {
   height: 6px;
   /* El valor del width cambiara mediante JS segun el scroll de la página */
   background-color: var(--color-secundario);
}

.header__wrapper {
   min-width: 100%;
   min-height: 120px;
   height: auto;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.header__img {
   width: 150px;
}

.header__navigation {
   flex-basis: 45%;
}

.navigation__list {
   list-style: none;
   display: flex;
}

.navigation__option {
   margin-right: 2.5rem;
   transition: all 300ms ease-in;
}

.navigation__link {
   color: #f5f5f5;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1.2rem;
   transition: all 300ms ease-in;
}

.navigation__option:hover {
   transform: scale(1.1,1.1);
}

.navigation__option:hover .navigation__link {
   color: var(--color-secundario);
}

/* Estilos Main */
.main__content {
   min-width: 100%;
}

.main__presentation {
   min-width: 100%;
   height: 86.5dvh;

   background-image: url("../src/img/img_fondo_inicio.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.presentation__info {
   position: relative;
   max-width: 50%;
   margin: 0 auto;
   top: 25%;
}

.presentation__title {
   color: var(--color-principal);
   font-size: 4.2rem;
   text-align: center;
   margin-bottom: 1.5rem;
   text-transform: uppercase;
}

.title__background {
   background-color: var(--color-principal);
   color: #fff;
   padding-left: 1rem;
   padding-right: 1rem;
}

.title__white {
   color: #fff;
}

@keyframes cambioColor {
   0% {
      color: var(--color-secundario);
   }
   50% {
      color: var(--color-principal);
   }
   100% {
      color: var(--color-secundario);
   }
}

.presentation__text {
   color: #fff;
   font-size: 1.5rem;
   margin-bottom: 2.5rem;
   text-align: center;
}

.presentation__link {
   position: relative;
   left: 39%;
}

.presentation__button {
   border: 3px solid #fff;
   background-color: transparent;
   color: #fff;
   text-transform: uppercase;
   font-size: 1rem;
   border-radius: 5rem;
   padding: 1rem 3.5rem;
   cursor: pointer;
   transition: all 300ms ease-in;
   animation: animacionBoton 2s infinite ease-in-out;
}

.presentation__button:hover {
   border: 3px solid var(--color-secundario);
   background-color: var(--color-secundario);
   color: var(--color-principal);
}

@keyframes animacionBoton{
   0%{
      transform: scale(1,1);
   }
   70% {
      transform: scale(1.05,1.05);
   }
   100% {
      transform: scale(1,1);
   }
}

.presentation__contact-info {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;

   font-size: 1.5rem;
   color: #fff;
   width: 100%;
   position: absolute;
   bottom: 10px;
}

.link {
   color: #fff;
   text-decoration: none;
   transition: all 300ms ease-in;
}

.link:hover {
   color: var(--color-secundario);
}

/*Estilos de la seccion de servicios*/

.main__services {
   min-width: 100%;
   min-height: 45dvh;
   view-timeline-name: --service;
   view-timeline-axis: block;
   animation-timeline: --service;
   animation-name: show;
   animation-range: entry 0% cover 40%;
}

.services__info {
   max-width: 55%;
   margin: 0 auto;
}

.services__title {
   margin-top: 2.5rem;
   color: var(--color-principal);
   font-size: 3rem;
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
}

.services__options {
   display: flex;
   justify-content: center;
}

.services__service {
   flex-basis: 30%;
   margin: 0 15px;
   border-radius: 0.5rem;
   min-height: 300px;
   cursor: pointer;
   box-shadow: 5px -5px 6px #ccc;
}

.service__glass {
   background-image: url("../src/img/limpieza-cristales.png");
   background-size: cover;
}
.service__community {
   background-image: url("../src/img/limpieza-espacios-publicos.png");
   background-size: cover;
}
.service__private {
   background-image: url("../src/img/limpieza-particulares.png");
   background-size: cover;
}

.service__title {
   color: #fff;
   text-align: center;
}

.service__text {
   color: #fff;
   font-size: 0.8rem;
   text-align: center;
   margin: 0.5rem 1rem 1rem 1rem;
}

.hidden {
   display: none;
}

.services__service:hover .hidden {
   display: block;
}

.services__wrapper {
   width: 100%;
   height: 100%;
   border-radius: 0.5rem;

   display: flex;
   flex-direction: column;
   justify-content: end;
   transition: all 300ms ease-in;
}

.services__service:hover .services__wrapper {
   background-color: #2226;
}

.service__anchor {
   text-decoration: none;
}

.service__link {
   position: relative;
   left: 34%;
}

.service__button {
   border: 3px solid var(--color-principal);
   background-color: transparent;
   color: var(--color-principal);
   text-transform: uppercase;
   font-size: 1rem;
   border-radius: 5rem;
   padding: 1rem 3.5rem;
   margin: 3.5rem 0 4rem 0;
   cursor: pointer;
   transition: all 300ms ease-in;
   animation: animacionBoton 2s infinite ease-in-out;
}

.service__button:hover {
   border: 3px solid var(--color-secundario);
   background-color: var(--color-secundario);
   color: var(--color-principal);
}

/* Estilos de las Reseñas*/
.main__reviews {
   min-height: 88dvh;
   background-image: url("../src/img/reseñas-fondo.png");
   background-size: cover;
   background-position: 0 -200px;
   background-repeat: no-repeat;
}

.main__reviews-container {
   max-width: 100%;
   min-height: 88dvh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.reviews__review {
   max-width: 50%;
   max-height: 200px;
   border: 3px solid var(--color-principal);
   background-color: var(--color-secundario);
   color: var(--color-principal);
   display: flex;
   border-radius: 10px;
   view-timeline-name: --review;
   view-timeline-axis: block;
   animation-timeline: --review;
   animation-name: show2;
   animation-range: entry 5% cover 20%;
   transition: all 300ms ease-in;
}

.reviews__review:hover {
   transform: scale(1.03,1.03);
}

.review__img-customer > img{
   max-width: 150px;
   min-height: 200px;
   object-fit: cover;
   border-radius: 7px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-right: 3px solid var(--color-principal);
}

.review__person {
   padding: 20px;
   width: 80%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   min-height: 100%;
}

.review__text {
   font-size: 1.2rem;
   text-align: center;
}

.review__user-name {
   font-size: 1.5rem;
   font-weight: 800;
}

.review__user-name:hover {
   text-decoration: underline;
}

.review__five--stars {
   position: absolute;
   width: 8rem;
   bottom: -8px;
   right: 30px;
}

/* Estilos del footer */

.footer {
   min-height: 30dvh;
   background-color: var(--color-principal);
   display: flex;
   justify-content: center;
}

.footer__wrapper {
   position: relative;
   min-width: 60%;
   display: flex;
   flex-direction: column;
}

.footer__links {
   display: flex;
   padding: 2rem 0;
   border-bottom: 2px solid var(--color-secundario);
}

.footer__nav-footer {
   flex-basis: 40%;
   color: #fff;
}

.nav-footer__title {
   font-size: 1.4rem;
   margin-bottom: 1rem;
}

.nav-footer__option {
   margin-bottom: 0.8rem;
}

.nav-footer__link {
   color: #fff;
   text-decoration: none;
   transition: all 300ms ease-in;
}

.nav-footer__link:hover {
   color: var(--color-secundario);
}

.nav-footer__list {
   list-style: none;
}

.footer__services-footer {
   flex-basis: 40%;
   color: #fff;
}

.services-footer__title {
   font-size: 1.4rem;
   margin-bottom: 1rem;
}

.services-footer__option {
   margin-bottom: 0.8rem;
}

.services-footer__link {
   color: #fff;
   text-decoration: none;
   transition: all 300ms ease-in;
}

.services-footer__link:hover {
   color: var(--color-secundario);
}

.services-footer__list {
   list-style: none;
}

.footer__social-media {
   position: absolute;
   right: 0;
   top: 23%;
}

.footer__social-media ul {
   text-align: center;
   display: flex;
   list-style: none;
}

.footer__social-media ul li {
   height: 3rem;
   width: 3rem;
   font-size: 1.8rem;
   line-height: 3.2rem;
   margin-left: 0.8rem;
   opacity: .9;
   opacity: 0.9;
   border-radius: 50%;
   transition: all 300ms ease;
}

.icon {
   color: #fff;
}

.footer__social-media ul li:hover {
   background-color: #fff2;
   opacity: 1;
}

.footer__company-info {
   min-width: 100%;
   display: flex;
   justify-content: space-around;
   padding: 2rem 0;
}

.img-container__logo {
   max-width: 90%;
}

.footer__schedule {
   color: #fff;
   margin-left: 1rem;
   margin-right: 2rem;
}

.footer__schedule > p {
   margin-bottom: 3.1rem;
}

iframe {
   max-width: 100%;
   height: 200px;
   border-radius: 10px;
}

.aboutus__description {
   max-width: 50%;
   line-height: 1.5rem;
   position: relative;
   margin: 0 auto;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.aboutus__text {
   margin-bottom: 3rem;
   color: #222;
}

.aboutus__link {
   color: #222;
   transition: all 300ms ease-in;
}

.aboutus__link:hover {
   color: var(--color-principal);
}
